.btn {
    border-radius: 99px;
}

.menu-nav .nav-item {
    margin: 5px 10px;
}

.card-form-destinantion {
    border: unset;
    border-radius: 99px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    background-color: white;
}

.card-form-destinantion .form-control,
.card-form-destinantion .form-select {
    background-color: transparent;
    border: unset;
}

.card-form-destinantion .form-control:focus {
    color: unset;
    background-color: unset;
    border-color: unset;
    outline: unset;
    box-shadow: unset;
}

.card-form-destinantion .form-select:focus {
    color: unset;
    background-color: unset;
    border-color: unset;
    outline: unset;
    box-shadow: unset;
}

.image-travel-front img {
    border: 5px solid white;
    border-radius: 195px/195px;
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.image-travel-back img {
    border: 5px solid white;
    border-radius: 145px/145px;
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.btn-search {
    height: 50px;
    width: 50px;
    background-color: #ffa335;
    border: unset;
    border-radius: 99px;
}

/* image hero */
.image-hero {
    position: relative;
    height: 704px;
}

.image-travel-front {
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 2;
}

.image-travel-back {
    position: absolute;
    top: 200px;
    right: 5px;
}

.bubble-1 {
    position: absolute;
    top: 80px;
    left: -15px;
    z-index: 3;
    background-color: #EEF0FF;
    border: 4px solid white;
    border-radius: 99px;

}

.bubble-2 {
    position: absolute;
    top: 90px;
    left: 345px;
    z-index: 3;
    background-color: #FFF1FF;
    border: 4px solid white;
    border-radius: 99px;

}

.bubble-3 {
    position: absolute;
    top: 400px;
    left: 345px;
    z-index: 3;
    background-color: white;
    border: 4px solid white;
    border-radius: 99px;
}

.destinantion-form {
    position: relative;
    z-index: 3;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border: unset;
    border-radius: 12px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    position: absolute;
    left: -21px;
    top: 20px;
    z-index: 3;
    transform: scale(1.7);

}

.garis-vertical {
    border-left: 2px solid rgba(181, 181, 181, 0.25);
    height: 40px;
    margin-right: 25px;
}

.alert {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border: unset;
}

.element.style {
    font-weight: bold;
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

.card-header {
    background-color: unset;
}


.img-asset-dshboard {
    border: 5px solid white;
    border-radius: 99px/99px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.destinantion-form {
    margin-top: -315px;
}

.title-hero {
    font-size: 4rem;
}

.sub-title-hero {
    font-size: 1rem;
}

.location {
    margin-left: 10px;
}

.title-hero {
    position: relative;
}

.camera {
    position: absolute;
    left: 360px;
    top: -23px;
}

.feature-item:nth-child(2) {
    margin-top: 50px;

}

.map-poin {
    position: absolute;
    left: 345px;
    top: -18px;
    z-index: 4;
}

.active {
    border-bottom: 2px solid #ffa335;
}

@media (max-width: 576px) {
    .image-travel-front img {
        border: 5px solid white;
        border-radius: 144px/144px;
        width: 300px;
        height: 450px;
        object-fit: cover;
    }

    .image-travel-back img {
        border: 5px solid white;
        border-radius: 99px/99px;
        width: 200px;
        height: 310px;
        object-fit: cover;
    }

    .bubble-1 {
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 3;
        background-color: #EEF0FF;
        border: 4px solid white;
        border-radius: 99px;

    }

    .bubble-2 {
        position: absolute;
        top: 50px;
        left: 260px;
        z-index: 3;
        background-color: #FFF1FF;
        border: 4px solid white;
        border-radius: 99px;

    }

    .bubble-3 {
        position: absolute;
        top: 450px;
        left: 300px;
        z-index: 3;
        background-color: white;
        border: 4px solid white;
        border-radius: 99px;
    }

    .destinantion-form {
        margin-top: 0px;
    }

    .title-hero {
        font-size: 3.3rem;
    }

    .sub-title-hero {
        font-size: 0.9rem;
    }

    .card-form-destinantion {
        border: unset;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        background-color: white;
    }

    .location {
        margin-left: 0px;
    }

    .camera {
        position: absolute;
        left: 300px;
        top: -28px;
    }

    .feature-item:nth-child(2) {
        margin-top: 0px;

    }

    .map-poin {
        position: absolute;
        left: 260px;
        top: -60px;
        z-index: 4;
    }

}
